.projectBox {
    padding: 3rem;
    border: 1px solid white;
    margin: 1rem;
}
.projectsContainer {
    display:grid;
    grid-template-columns: repeat(auto-fit, minMax(650px, 1fr));
    max-width: 1800px;
    margin: 0 auto;
    line-height: 1.5;
    table {
        border: 1px solid white;
        width: 100%;
        text-align: center;
        bottom: 0;
        margin-top: 1rem;
    }
}
.metaTable {
    margin-top: 2rem;
}
.awards {
    color: gold;
    h3{
    text-shadow: 0px 0px 15px rgba(255, 217, 0, 0.25);
}
    table {
    border-color: gold !important;
    box-shadow: 0px 0px 15px rgba(255, 217, 0, 0.25);
}
}

@media (max-width: 800px) {
    .projectBox {
        margin: 0;
        margin-top: 1rem;
    }
    .projectsContainer {
        grid-template-columns: repeat(1, minMax(300px, 1fr));
    }

}
@media screen and (max-width: 500px) {
    .projectsContainer {
        table {
            font-size: x-small;
        }
    }
    .projectBox {
        padding: 2rem;
    }
}